cmake_targets/
build/
*/build/
*.o
*.a
*.so
*.log
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store

# OAI build artifacts
openairinterface5g/cmake_targets/ran_build/build/
openairinterface5g/cmake_targets/ran_build/build/**
